.content{
    width: 1138px;
    padding: 30px;
    border-top: none;
}
.join-wrap{
    width: 1000px;
    margin: 0 auto;
    /* margin-top: 100px; */
    color: #2c2d34;
    overflow: hidden;
}
.tabs{
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
}
.tabs>li{
    float: left;
    width: calc(100%/2);
    height: 70px;
    text-align: center;
    box-sizing: border-box;
    border: 2px solid #E5A2A8;
    background-color: #E5A2A8;
    line-height: 68px;
    font-size: 20px;
    color: #fff;
}
.tabs>li:last-child{
    background-color: #fff;
    color: #2c2d34;
}
.contentdetail{
    padding: 30px;
    float: center;
    border: 2px solid #E5A2A8;
    border-top: none;
    overflow: hidden;
}
.title{
    text-align: center;
    font-size: 30px;
    margin: 20px;
    padding-bottom: 20px;
    display: block;
}
input[type=checkbox]{
    zoom: 1.5;
    padding-top: 10px;
}
input[type=checkbox]:hover{
    cursor: pointer;
}
.chklabel{
    display: inline-block;
    margin: 5px;
    padding-bottom: 5px;
    font-size: 20px;
}
.chklabel:hover{
    cursor: pointer;
    font-weight: 800;
}
.agreebox{
    margin: 30px 0px;
}
.agreeContent{
    width: 50%;
    border: 1px solid #E5A2A8;
}
.agreeContent>ul{
    margin: 0;
    padding: 10px;
    list-style-type: none;
}
.btnBox{
    float: left;
    margin: 20px 0px;
}
.nextBtn{
    width: 200px;
    height: 50px;
    background-color: #E5A2A8;
    border: none;
    outline: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}
.join-content{
    margin: 30px auto;
}
.join-header{
    overflow: hidden;
}
.join-header>h2{
    text-align: center;
    font-size: 30px;
    margin: 20px;
    padding-bottom: 20px;
    display: block;
}
.join-content>form{
    margin: 0 auto;
}
.join-box{
    width: 350px;
    height: 100px;
    margin: 0 auto;
    margin-bottom: 15px;
    float: center;
}
.join-box>span:first-child{
    margin: 0;
    padding: 0;
    font-size: 35px;
}
.join-box>label{
    display: inline-block;
    font-size: 20px;
}
.join-box>label:hover{
    cursor: pointer;
}
.join-box>input{
    display: block;
    width: 340px;
    height: 30px;
    font-size: 20px;
    border-style: none;
    border-bottom: 1px solid #2c2d34;
}
.join-box>input:focus{
    outline-style: none;
    border: 2px solid #E5A2A8;
}
.join-box>input[type=submit]{
    font-size: 20px;
    width: 350px;
    height: 50px;
    margin-top: 40px;
    background-color: #E5A2A8;
    color: #fff;
    border: none;
    text-align: center;
}
.btn:hover{
    cursor: pointer;
}
